<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Fleet:</strong>
    <%= question.fleet %>
  </p>

  <p>
    <strong>Eliminating:</strong>
    <%= question.eliminating %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= question.score %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= question.active %>
  </p>

</div>
