<div id="<%= dom_id course_type %>">
  <p>
    <strong>Name:</strong>
    <%= course_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course_type.description %>
  </p>

  <p>
    <strong>Min quota:</strong>
    <%= course_type.min_quota %>
  </p>

  <p>
    <strong>Max quota:</strong>
    <%= course_type.max_quota %>
  </p>

  <p>
    <strong>Min score:</strong>
    <%= course_type.min_score %>
  </p>

  <p>
    <strong>Max score:</strong>
    <%= course_type.max_score %>
  </p>

  <p>
    <strong>Passing score:</strong>
    <%= course_type.passing_score %>
  </p>

  <p>
    <strong>Number of repeat:</strong>
    <%= course_type.number_of_repeat %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course_type.room_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= course_type.active %>
  </p>

</div>
