<div id="<%= dom_id person %>">
  <p>
    <strong>Cuil:</strong>
    <%= person.cuil %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= person.birthdate %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Celphone:</strong>
    <%= person.celphone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= person.direction %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= person.code %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= person.province_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= person.city_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= person.active %>
  </p>

</div>
