<h1>Rubros de empresas</h1>
<div class="row justify-content-between mb-2">
  <div class="col-4">
    <%= link_to "Registrar rubro", 
      new_sector_path,
      data: { turbo_frame: "modal"},
      class: "btn btn-sm btn-primary" %>
  </div>
  <div class="col-6">
    <%= form_with url: sectors_path, method: :get, data: { controller: "filter", filter_target: "form", turbo_frame: "table" } do |form| %>
      <%= form.search_field :query,
          placeholder: "Filtrar por nombre...",
          class: "form-control form-control-sm",
          autocomplete: "off",
          data: { action: "input->filter#search" }
        %>
    <% end %>
  </div>
</div>
<%= turbo_frame_tag 'table', id: 'sectors_table' do %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id='tbody_sectors'>
        <%= render @sectors %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
