<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag('logo.png')%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <%= link_to 'Personas', people_path, 
            role: 'button', data: {'bs-toggle': 'dropdown'}, aria: {expanded: 'false'}, class: 'nav-link dropdown-toggle' %>
          <ul class="dropdown-menu">
            <%= link_to 'Ver personas', people_path, class:"dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <%= link_to 'Empresas', companies_path, 
            role: 'button', data: {'bs-toggle': 'dropdown'}, aria: {expanded: 'false'}, class: 'nav-link dropdown-toggle' %>
          <ul class="dropdown-menu">
            <%= link_to 'Ver empresas', companies_path, class:"dropdown-item" %>
            <%= link_to 'Ver categorías', company_categories_path, class:"dropdown-item" %>
            <%= link_to 'Ver rubros', sectors_path, class:"dropdown-item" %>
            <%= link_to 'Ver condición de iva', iva_conditions_path, class:"dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <%= link_to 'Salas', rooms_path, 
            role: 'button', data: {'bs-toggle': 'dropdown'}, aria: {expanded: 'false'}, class: 'nav-link dropdown-toggle' %>
          <ul class="dropdown-menu">
            <%= link_to 'Ver salas', rooms_path, class:"dropdown-item" %>
            <%= link_to 'Ver sedes', headquarters_path, class:"dropdown-item" %>
            <%= link_to 'Ver seccionales', sectionals_path, class:"dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <%= link_to 'Cursos', '#', 
            role: 'button', data: {'bs-toggle': 'dropdown'}, aria: {expanded: 'false'}, class: 'nav-link dropdown-toggle' %>
          <ul class="dropdown-menu">
            <%= link_to 'Ver cursos', '#', class:"dropdown-item" %>
            <%= link_to 'Ver tipos de cursos', course_types_path, class:"dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Otro link', '#', class: 'nav-link', data: { turbo: false } %>
        </li>
      </ul>
    </div>
  </div>
</nav>