<%= tag.tr id: dom_id(company_area) do %>
  <td><%= company_area.name %></td>
  <td><%= company_area.description %></td>
  <td>
    <%= link_to edit_company_area_path(company_area), 
      class: "btn btn-warning btn-sm btn-sm btn-icon text-white",title: 'Editar' ,data: { turbo_frame: "modal"} do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to modal_disable_company_area_path(company_area), 
      class: "btn btn-sm btn-icon btn-danger",title: 'Eliminar' ,data: { turbo_frame: "modal"} do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </td>
<% end %>