<%= form_with(model: [ course, course_person ], builder: BootstrapBuilder) do |form| %>
  <div class="form-group row mb-2">
    <%= form.label :person_id, "Persona" %>
    <div class="col-6">
      <%= form.select :person_id, @people.collect { |person| [ "#{person.fullname} - #{person.cuil}", person.id ] },
        {:include_blank => "Seleccione persona"},
        data: {controller: 'tselect',
          tselect_ids_value: @person_id
        }
      %>
    </div>
    <%= inline_error_for(:person_id, course_person, "offset-3") %>
  </div>
  <div class="form-group row mb-2">
    <%= form.label :company_id, "Empesa" %>
    <div class="col-6">
      <%= form.select :company_id, Company.actives.collect { |company| [ "#{company.name} - #{company.cuit}", company.id ] },
        {:include_blank => "Seleccione empresa"},
        data: {
          controller: 'tselect courses--select-company',
          courses__select_company_target: "company",
          action: "courses--select-company#display_managers",
          tselect_ids_value: @company_id
        }
      %>
    </div>
    <%= inline_error_for(:company_id, course_person, "offset-3") %>
  </div>
  <div class="form-group row mb-2">
    <%= form.label :manager_id, "Referente" %>
    <div class="col-6">
      <%= form.select :manager_id, {}, {include_blank: "Seleccione referente"}, class: "form-control form-control-sm" %>
    </div>
    <%= inline_error_for(:manager_id, course_person, "offset-3") %>
  </div>
  <div class="form-group row mb-2">
    <%= form.label :operator_id, "Operadora" %>
    <div class="col-6">
      <%= form.select :operator_id, Company.actives.where(operator: true).collect { |company| [ "#{company.name} - #{company.cuit}", company.id ] },
        {:include_blank => "Seleccione operadora"},
        data: {
          controller: 'tselect',
          tselect_ids_value: @operator_id
        }
      %>
    </div>
    <%= inline_error_for(:operator_id, course_person, "offset-3") %>
  </div>
  <div class="form-group row mb-2">
    <%= form.label :fleet_category_id, "Flota" %>
    <div class="col-6">
      <%= form.select :fleet_category_id, FleetCategory.actives.collect { |fleet_category| [ fleet_category.name, fleet_category.id ] },
        {:include_blank => "Seleccione categoría de flota"},
        data: {controller: 'tselect',
          tselect_ids_value: @fleet_category_id
        }
      %>
    </div>
    <%= inline_error_for(:fleet_category_id, course_person, "offset-3") %>
  </div>
  <div class="form-group row mb-2">
    <%= form.label :inscription_motive_id, "Motivo" %>
    <div class="col-6">
      <%= form.select :inscription_motive_id, InscriptionMotive.actives.collect { |motive| [ motive.name, motive.id ] },
        {:include_blank => "Seleccione motivo"},
        data: {
          controller: 'tselect',
          tselect_ids_value: @inscription_motive_id
        }
      %>
    </div>
    <%= inline_error_for(:inscription_motive_id, course_person, "offset-3") %>
  </div>
  <div>
    <%= form.submit "Guardar" %>
    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cancelar</button>
  </div>
<% end %>
