<%= tag.tr id: dom_id(company) do %>
  <td><%= company.name %></td>
  <td><%= company.cuit %></td>
  <td><%= company.sector.name %></td>
  <td><%= company.company_category.name %></td>
  <td>
    <%= link_to edit_company_path(company), 
      class: "btn btn-warning btn-sm btn-sm btn-icon text-white",title: 'Editar' ,data: { turbo_frame: "modal"} do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to modal_disable_company_path(company), 
      class: "btn btn-danger btn-sm btn-icon",title: 'Eliminar' ,data: { turbo_frame: "modal"} do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </td>
<% end %>