<div id="<%= dom_id company_category %>">
  <p>
    <strong>Name:</strong>
    <%= company_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company_category.description %>
  </p>

  <p>
    <strong>Quota:</strong>
    <%= company_category.quota %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= company_category.active %>
  </p>

</div>
