<%= form_with(model: company_category) do |form| %>
  <% if company_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company_category.errors.count, "error") %> prohibited this company_category from being saved:</h2>

      <ul>
        <% company_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :quota, style: "display: block" %>
    <%= form.number_field :quota %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
