<div id="<%= dom_id course_type_unit %>">
  <p>
    <strong>Course type:</strong>
    <%= course_type_unit.course_type_id %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= course_type_unit.unit_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= course_type_unit.day %>
  </p>

  <p>
    <strong>Start hour:</strong>
    <%= course_type_unit.start_hour %>
  </p>

  <p>
    <strong>End hour:</strong>
    <%= course_type_unit.end_hour %>
  </p>

  <p>
    <strong>Start brake:</strong>
    <%= course_type_unit.start_brake %>
  </p>

  <p>
    <strong>End brake:</strong>
    <%= course_type_unit.end_brake %>
  </p>

  <p>
    <strong>Is by turn:</strong>
    <%= course_type_unit.is_by_turn %>
  </p>

</div>
