<%= form_with(model: course, builder: BootstrapBuilder) do |form| %>
  <div class="form-group row mb-2">
    <%= form.label :date, "Fecha" %>
    <%= form.date_field :date %>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :course_type_id, "Tipo de curso" %>
    <div class="col-6">
      <%= form.select :course_type_id, CourseType.actives.all.collect { |course_type| [ "#{course_type.name}", course_type.id, data: { room: course_type.room_id } ] },
        {:include_blank => "Seleccione tipo de curso"},
        data: {
          controller: "tselect courses--select-course-type",
          courses__select_course_type_target: "selectCourseType",
          action: "courses--select-course-type#select_default_room",
          tselect_ids_value: @course_type_id
        },
        required: true
      %>
    </div>
    <%= inline_error_for(:course_type_id, course, "offset-3") %>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :year_number, "Nro anual" %>
    <%= form.number_field :year_number %>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :general_number, "Nro general" %>
    <%= form.number_field :general_number %>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :room_id, "Sala" %>
    <div class="col-6">
      <%= form.select :room_id, Room.actives.all.collect { |room| [ "#{room.name}", room.id ] },
        {:include_blank => "Seleccione sala"},
        required: true
      %>
    </div>
    <%= inline_error_for(:room_id, course, "offset-3") %>
  </div>

  <div class="form-group row mb-2">
    <div class="form-check col-6">
      <%= form.check_box :is_company, 
        data: {
          controller: "courses--check-is-company",
          courses__check_is_company_target: "isCompany",
          action: "click->courses--check-is-company#check_is_company"
        },
        class: "form-check-input" %>
      <%= form.label :is_company, "Es incompany?" %>
    </div>
    <div class="col-6">
        <%= form.select :company_id, Company.actives.all.collect { |company| [ "#{company.name} - #{company.cuit}", company.id ] },
          {:include_blank => "Seleccione empresa"},
          data: {
            controller: "tselect",
            tselect_ids_value: @company_id
          }
        %>
      </div>
  </div>

  <div id="units">
  </div>

  <div>
    <%= form.submit "Guardar" %>
    <%= link_to "Volver", courses_path, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>
